<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Primary Meta Tags -->
    <title>Package Version MCP Server - For AI Tools</title>
    <meta name="title" content="Package Version MCP Server - For AI Tools" />
    <meta
      name="description"
      content="Help AI tools like Cursor to automatically use the correct package versions when adding dependencies to your projects. Supports Hex, RubyGems, and NPM packages."
    />
    
<!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://dep-mcp.9elements.com/" />
    <meta property="og:title" content="Package Version MCP Server - For AI Tools" />
    <meta
      property="og:description"
      content="Help AI tools like Cursor to automatically use the correct package versions when adding dependencies to your projects. Supports Hex, RubyGems, and NPM packages."
    />
    <meta property="og:image" content={~p"/images/sharing.png"} />
    
<!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://dep-mcp.9elements.com/" />
    <meta property="twitter:title" content="Package Version MCP Server - For AI Tools" />
    <meta
      property="twitter:description"
      content="Help AI tools like Cursor to automatically use the correct package versions when adding dependencies to your projects. Supports Hex, RubyGems, and NPM packages."
    />
    <meta property="twitter:image" content={~p"/images/sharing.png"} />
    <!-- End of Meta Tags -->
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white">
    {@inner_content}
  </body>
</html>
